<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Form</title>
  <link rel="stylesheet" href="FormCSS.css">
</head>
<header>
  <nav class="site-nav">
    <a href="/">Home</a>
    <a href="/form">Contact Form</a>
    <a href="/resume">Resume</a>
    <a href="/admin">Admin Page</a>
    <a href="https://linkedin.com/in/adrien-bertrand-b8614738a">LinkedIn</a>
    <a href="https://github.com/Zeta1313">Github</a>
  </nav>
</header>
<body>
    <div class="form-container">
      <h1>Submission sucessful!</h1>
      <h2>We'll get back to you shortly</h2>
      <form action="/" method="get">
        <button type="submit">Return to Main Page</button>
      </form>
    </div>
</body>
</html>