<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adrien Bertrand's Resume</title>
    <link rel="icon" href="doc.png">
    <link rel="stylesheet" href="CCC.css">
</head>
<body>
<header>
  <nav class="site-nav">
    <a href="/">Home</a>
    <a href="/form">Contact Form</a>
    <a href="/admin">Admin Page</a>
    <a href="https://linkedin.com/in/adrien-bertrand-b8614738a">LinkedIn</a>
    <a href="https://github.com/Zeta1313">Github</a>
  </nav>
</header>
    <h1>Adrien Bertrand</h1>
    <img src="pic.jpg" alt="Headshot of a young man">
    <p>adrienabertrand@gmail.com</p>
    <p>(206) 302 9677</p>
    <a href="https://github.com/Zeta1313">Github.com/Zeta1313</a>
    <h4>Retail Worker and Student at Green River College seeking a Bachelors in software development. Looking for an internship during second year of program.</h4>
    <div id = "Container">
        <div class="flex-item">
            <h1>Education</h1>
            <p><b>Green River College - </b>Bachelors in Software Development, Ongoing. 2021-present</p>
            <p>Relevant learning:</p>
            <ul>
                <li>Programming Languages: Java, HTML, Javascript, CSS</li>
                <li>Use of Tools: Git</li>
                <li>Practical use of Artificial Intelligence in the workplace</li>
                <li>Data structures</li>
                <li>Web Design</li>
                <li>Cloud Computing, Agile Methodologies, Database Upkeep <em>(Upcoming)</em></li>
            </ul>
        </div>
        <div class="flex-item">
            <h1>Experience</h1>
            <p><b>Cashier:</b> Fred Meyer, 2024-Present. Moved Locations due to store closure 2025 with no difficulties</p>
        </div>
    </div>
</body>
</html>
